/*
========================================
Global Styles
======================================== */

body,
html {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100%;
}

button {
  color: var(--text-primary);
  background-color: var(--background-primary);
  border: 2px var(--text-primary) solid;
  float: right;
  transition: all 0.5s;
}

.main {
  background-color: var(--background-primary);
}
/*
========================================
Variable CSS Styles
======================================== */
:root {
  --background-primary: white;
  --background-secondary: black;
  --text-primary: #191a1b;
  --text-secondary: #f5f4ef;
  --text-hover: #00000073;
  --adxr-logo: 0%;
  --newsletter-theme: 0%;
}
/*
    reference: https://css-tricks.com/dark-modes-with-css/
  */
[data-theme="dark"] {
  --background-primary: black;
  --background-secondary: white;
  --text-primary: #f5f4ef;
  --text-secondary: #191a1b;
  --text-hover: #ffffff67;
  --adxr-logo: 100%;
  --newsletter-theme: 100%;
}

/*
======================================== 
Typography Styles
======================================== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

p {
  font-family: "Intern", sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  color: var(--text-primary);
}

/*
======================================== 
General Component Styles
======================================== */

/*dark-light mode button*/
#switch-theme {
  color: var(--text-primary);
  border: 1px solid var(--text-primary);
  border-radius: 10px;
  margin: 2rem;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.2em;
  display: none;
  position: fixed;
  z-index: 9;
}

#switch-theme:hover {
  color: var(--text-hover);
}

/*MEDIA QUERIES*/
/*=========== BREAKPOINTS =============*/
/*Large  Screens and Devices (e.g.:DESKTOPS)*/
@media screen and (max-width: 1200px) {
}

/*Medium Screens and Devices (e.g.:TABLETS)*/
@media screen and (max-width: 768px) {
}

/*Small Screens and Devices (e.g.:MOBILE)*/
@media screen and (max-width: 480px) {
  /*dark-light mode button*/
  #switch-theme {
    color: var(--text-primary);
    border: none;
    margin: 1rem 0.5rem;
    cursor: pointer;
    font-size: 1rem;
  }

  body, html {
    overflow-y: scroll;
    height: 100vh;
  }
}
